<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="categories">
        <h3 id="categorieslist">Categories List</h3>
        <details>
            <summary>1 - Main Weapon</summary>
            <p></p>
            <pre>
            <code>
1 - Longsword
2 - Longbow
3 - Amulet
4 - Axe
5 - Shortsword
6 - Blade
7 - Staff
8 - Kriegsmesser
9 - Gauntlet
10 - Crescent Pendulum
11 - Crossbow
12 - Florang
13 - Battle Axe
14 - Shamshir
15 - Morning Star
16 - Kyve
17 - Serenaca
    </code>
</pre>
            <p></p>
        </details>
        <details>
            <summary>5 - Sub Weapon</summary>
            <p></p>
            <pre><code>
1 - Shield
2 - Dagger
3 - Talisman
4 - Ornamental Knot
5 - Trinket
6 - Horn Bow
7 - Kunai
8 - Shuriken
9 - Vambrace
10 - Noble Sword
11 - Ra'ghon
12 - Vitclari
13 - Haladie
14 - Quoratum
15 - Mareca
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>10 - Awakening Weapon</summary>
            <p></p>
            <pre><code>
1 - Great Sword
2 - Scythe
3 - Iron Buster
4 - Kamasylven Sword
5 - Celestial Bo Staff
6 - Lancia
7 - Crescent Blade
8 - Kerispear
9 - Sura Katana
10 - Sah Chakram
11 - Aad Sphera
12 - Godr Sphera
13 - Vediant
14 - Gardbrace
15 - Cestus
16 - Crimson Glaives
17 - Greatbow
19 - Jordun
20 - Dual Glaives
21 - Sting
22 - Kibelius
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>15 - Armor</summary>
            <p></p>
            <pre><code>
1 - Helmet
2 - Armor
3 - Gloves
4 - Shoes
5 - Functional Clothes
6 - Crafted Clothes
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>20 - Accessory</summary>
            <p></p>
            <pre><code>
1 - Ring
2 - Necklace
3 - Earring
4 - Belt
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>25 - Material</summary>
            <p></p>
            <pre><code>
1 - Ore/Gem
2 - Plants
3 - Seed/Fruit
4 - Leather
5 - Blood
6 - Meat
7 - Seafood
8 - Misc.
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>30 - Enhancement/Upgrade</summary>
            <p></p>
            <pre><code>
1 - Black Stone
2 - Upgrade
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>35 - Consumables</summary>
            <p></p>
            <pre><code>
1 - Offensive Elixir
2 - Defensive Elixir
3 - Functional Elixir
4 - Food
5 - Potion
6 - Siege Items
7 - Item Parts
8 - Other Consumables
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>40 - Life Tools</summary>
            <p></p>
            <pre><code>
1 - Lumbering Axe
2 - Fluid Collector
3 - Butcher Knife
4 - Pickaxe
5 - Hoe
6 - Tanning Knife
7 - Fishing Tools
8 - Matchlock
9 - Alchemy/Cooking
10 - Other Tools
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>45 - Alchemy Stone</summary>
            <p></p>
            <pre><code>
1 - Destruction
2 - Protection
3 - Life
4 - Spirit Stone
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>50 - Magic Crystal</summary>
            <p></p>
            <pre><code>
1 - Main Weapon
2 - Sub-weapon
8 - Awakening Weapon
3 - Helmet
4 - Armor
5 - Gloves
6 - Shoes
7 - Versatile
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>55 - Pearl Items</summary>
            <p></p>
            <pre><code>
1 - Male Apparel (Set)
2 - Female Apparels (Set)
3 - Male Apparel (Individual)
4 - Female Apparel (Individual)
5 - Class-based Apparel (Set)
6 - Functional
7 - Mount
8 - Pet
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>60 - Dye</summary>
            <p></p>
            <pre><code>
1 - Basic
2 - Olvia
3 - Velia
4 - Heidelian
5 - Keplan
6 - Calpheon
7 - Mediah
8 - Valencia
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>65 - Mount</summary>
            <p></p>
            <pre><code>
1 - Registration
2 - Feed
3 - Champron
4 - Barding
5 - Saddle
6 - Stirrups
7 - Horseshoe
9 - [Elephant] Stirrups
10 - [Elephant] Armor
11 - [Elephant] Mask
12 - [Elephant] Saddle
13 - Courser Training
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>70 - Ship</summary>
            <p></p>
            <pre><code>
1 - Registration
2 - Cargo
3 - Prow
4 - Decoration
5 - Totem
6 - Prow Statue
7 - Plating
8 - Cannon
9 - Sail
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>75 - Wagon</summary>
            <p></p>
            <pre><code>
1 - Registration
2 - Wheel
3 - Cover
4 - Flag
5 - Emblem
6 - Lamp
</code></pre>
            <p></p>
        </details>
        <details>
            <summary>80 - Furniture</summary>
            <p></p>
            <pre><code>
1 - Bed
2 - Bedside Table/Table
3 - Wardrobe/Bookshelf
4 - Sofa/Chair
5 - Chandelier
6 - Floor/Carpet
7 - Wall/Curtain
8 - Decoration
9 - Others
        </code></pre>
            <p></p>
        </details>
    </div>


</body>

</html>